---
import Layout from "../../../layouts/BaseLayout.astro";
import PageNav from "../../../components/PageNav.astro";
import Card from "../../../components/Card.astro";
import Icon from "astro-icon";
import { capitalise } from "../../../components/utils";
const title = "My Blog (by Series)";
const description = "A list of all my blog posts";
export async function getStaticPaths({ paginate }) {
  const allSeries = await Astro.glob("../../../components/series/*.mdx");
  return paginate(allSeries, { pageSize: 10 });
}
const { page } = Astro.props;
---

<Layout title={title} description={description}>
  <p>Here are all my posts by series.</p>
  <ul>
    {
      page.data.map((series) => {
        let seriesColour = series.frontmatter.seriesColour;
        let seriesColourVar = `var(--light-${seriesColour})`;
        return (
          <Card cardColour={series.frontmatter.seriesColour} link={`/blog/series/${series.frontmatter.series}/1`}>
            <Icon name={series.frontmatter.icon} fill={seriesColourVar}/>
            <h3 style={`color: ${seriesColourVar}`}>{capitalise(series.frontmatter.series)}
            </h3>
            <series.Content/>
          </Card>)
      })
    }
  </ul>
  <PageNav page={page} />
</Layout>
<style>
  ul {
    display: grid;
    row-gap: 1.5rem;
    padding: 0;
    margin: 0;
  }
  a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 1rem;
  }
  li {
    list-style: none;
    border: 1px solid black;
    border-radius: 4px;
    margin: 1rem 0;
  }
  img {
    height: 80px;
    width: auto;
    float: right;
    margin-left: 1rem;
  }
  h3 {
    margin-top: 0px;
  }
  [astro-icon] {
        height: 80px;
        width: auto;
        float: right;
        margin-left: 1rem;
    }
</style>
