---
const { frontmatter, seriesColour } = Astro.props;
const capitalise = (str) => {
  return str.charAt(0).toUpperCase() + str.slice(1);
};
---

<a
  class="series"
  href={`/blog/series/${frontmatter.series}/1`}
  style=`background: var(--light-${seriesColour}); border: solid 3px var(--light-${seriesColour});`
>
  {capitalise(frontmatter.series)}
</a>
<p>
  <b>Context:</b><span style=`color: var(--light-${seriesColour});`
    >{frontmatter.context}</span>
</p>
<style>
  /*See HTML for inline styles*/
  a.series {
    padding: 7px 12px;
    border-radius: var(--border-radius);
    color: white;
    font-size: var(--font-size-h4);
    text-decoration: none;
    font-weight: 700;
  }
  a.series:hover {
    background: none !important;
    color: var(--dark-grey);
  }
  span {
    margin: 0;
    margin-left: 0.5rem;
    font-style: italic;
  }
</style>
