---
const post = Astro.props.post
const { titlePrefix = '', seriesColour } = Astro.props
const seriesColourLight = `var(--light-${seriesColour})`
const seriesColourGradient = `var(--${seriesColour}-gradient-diagonal)`
import { Icon } from 'astro-icon/components'
---

<style define:vars={{ seriesColourGradient, seriesColourLight }}></style>
<a
	href={post.url}
	class="block h-full rounded-[--border-radius] p-[1.2rem] text-dark-grey no-underline [background:--seriesColourGradient]"
>
	<li class="flex h-full flex-col no-underline">
		<h3 class="m-0 p-0 text-white">{titlePrefix}</h3>
		<div
			class="h-full rounded-[--border-radius] bg-white p-4 hover:scale-[102%] focus:scale-[102%]"
		>
			<Icon
				name={post.frontmatter.image}
				class="float-right ml-4 h-[60px] w-auto text-[--seriesColourLight]"
			/>
			<h4 class="m-0 p-0 [color:--seriesColourLight]">{post.frontmatter.title}</h4>
			<p class="m-0 !mt-[10px] mr-[50px]">{post.frontmatter.description}</p>
		</div>
	</li>
</a>
