---
const { post, titlePrefix = '', seriesColour } = Astro.props
const seriesColourLight = `var(--light-${seriesColour})`
const seriesColourGradient = `var(--${seriesColour}-gradient-diagonal)`
import { Icon } from 'astro-icon/components'
---

<a href={post.url}>
	<li>
		<h3>{titlePrefix}</h3>
		<div>
			<Icon name={post.frontmatter.image} color={seriesColourLight} />
			<h4>{post.frontmatter.title}</h4>
			<p>{post.frontmatter.description}</p>
		</div>
	</li>
</a>

<style define:vars={{ seriesColourGradient, seriesColourLight }}>
	a {
		text-decoration: none;
		color: black;
		display: block;
		padding: 1.2rem;
		background: var(--seriesColourGradient);
		border-radius: var(--border-radius);
		height: 100%;
	}
	li {
		list-style: none;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	div:hover,
	div:focus {
		transform: scale(102%);
	}
	div {
		background: white;
		padding: 1rem;
		border-radius: var(--border-radius);
		height: 100%;
	}
	[data-icon] {
		height: 60px;
		width: auto;
		float: right;
		margin-left: 1rem;
	}
	h3,
	h4 {
		margin: 0;
		padding: 0;
	}
	h3 {
		color: white;
	}
	h4 {
		color: var(--seriesColourLight);
	}
	p {
		margin: 10px 50px 0 0;
	}
</style>
