---
import { capitaliseAll } from './utils'
const { series, titlePrefix = '' } = Astro.props
const seriesColour = series.frontmatter.seriesColour
const seriesColourGradient = `var(--${seriesColour}-gradient-diagonal)`
const seriesColourLight = `var(--light-${seriesColour})`
const link = `/blog/series/${series.frontmatter.series}`
import { Icon } from 'astro-icon/components'
---

<style define:vars={{ seriesColourGradient }}></style>
<a href={link} class="mt-[0.625rem] rounded-[--border-radius] no-underline">
	<div
		class="outer flex h-full w-full flex-col rounded-[--border-radius] p-5 [background:--seriesColourGradient]"
	>
		<h3 class="m-0 p-0 text-white">{titlePrefix}</h3>
		<div
			class="inner inline-block h-full rounded-[--border-radius] bg-white p-5 pb-3 hover:scale-[102%]"
		>
			{
				(
					<>
						<h3 style={`color: ${seriesColourLight}`} class="m-0 p-0">
							{capitaliseAll(series.frontmatter.series)}
						</h3>
						<p class="mt-[0.9rem]">
							<Icon
								name={series.frontmatter.icon}
								color={seriesColourLight}
								class="float-right ml-4 h-[60px] w-auto"
							/>
							<series.Content />
						</p>
					</>
				)
			}
		</div>
	</div>
</a>
